@import "@/style/index.scss";

@media screen and (min-width:501px) {
  .student {
    .student-search {
      position: absolute;
      top: px2rem(10);
      box-shadow: 0 0.02rem 0.06rem 0 rgba(0, 0, 0, 0.05);

      .icon-search {
        font-size: 20px;
      }
    }

    .student-nav {
      height: px2rem(70);
      @include textCenter(px2rem(70));
    }

    .student-detail {
      display: flex;

      .student-list {
        width: px2rem(280);
        background: #f8f8f8;
      }

      .student-view {
        height: calc(100vh - #{px2rem(70)});
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}